/*By Jack Stockley*/
@keyframes spin {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}

}

@keyframes antispin {
    from{transform: rotate(360deg)}
    to{transform: rotate(0deg)}

}
/*By Raj Joshi*/
#slidecontainer {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#backgroundImg {
    background: url(bg.jpg);
    background-size: cover;
    animation: spin 5s linear infinite;

}

#sweetVictory {
    height: 300px;
    visibility: hidden;
}

#stuffAndThings {
    animation: antispin 5s linear infinite;
}
/*By Mason Ansari*/
h1 {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: deeppink;
    z-index: 99999;
}

h2 {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: deeppink;
    z-index: 99999;
}

h3 {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: deeppink;
    z-index: 99999;
}


p {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: deeppink;
    z-index: 99999;
}


body{
    background-image: url("bg.jpg");
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: deeppink;
}

a:visited {
    color: deeppink;
}